{% extends "index.tmpl" %}
{% block content %}

<form action="/api/updateTarget" method="POST">
<select name="targetID">
	{% for target in targetList %}
	<option value="{{ target.targetid }}">{{ target.targetname }}</option>
	{% endfor %}
</select>
<label for="xCoord">X:</label>
<input name="xCoord" type="number" maxlength="2" />

<label for="yCoord">Y:</label>
<input name="yCoord" type="number" maxlength="2" />

<label for="password">Password:</label>
<input name="password" />

<input type="submit" value="Submit">
</form>

<div class="container">
	<div id="B" class="column-center">B</div>
	<div id="A" class="column-left">A</div>
	<div id="S" class="column-right">S</div>
</div>
{% endblock %}