<html>
<head>
<title>{{ title }}</title>
{%- block head %}
<link rel="stylesheet" type="text/css" href="/static/css/hunts.css">
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/static/script/hunts.js"></script>
{%- endblock %}
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>